
:root {
    --first-color: #031827;
    --secondary-color:#61c7f7;
    --font-size: 16px;
    --bg-color:#9fb2c0;
}
body {
    background: var(--bg-color);
}
.container {
   display: block; 
   margin: 0;
   padding: 0;
   font-size: var(--font-size);
}
.container .box {
    display: block;
    text-align: left;
}
.container .box .button {
    display: block;
}
